@import "./Settings.scss";

.MuiPaper-root {
  box-shadow: none !important;
  border: none;
}
.MuiPaper-elevation {
  margin: 0 !important;
}
.MuiButtonBase-root {
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-bottom: 1px solid $gray-color !important;
}
.MuiAccordionDetails-root {
  padding: 0 !important;
}
.MuiAccordionSummary-content {
  margin: 1rem 0 !important;
  &.Mui-expanded {
    margin: 1rem 0 0 0 !important;
  }
}
