@import "./Settings.scss";

.app {
  &__template {
    display: grid;
    grid-template-columns: 0 1fr;
    background-color: #f6f6f6;
    height: 100vh;
  }
  @media (min-width: $breakpoints-sm) {
    &__template {
      grid-template-columns: 4rem 1fr;
    }
  }
  @media (min-width: $breakpoints-md) {
    &__template {
      grid-template-columns: 220px 1fr;
    }
  }
  &__main-content {
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  @media (min-width: $breakpoints-sm) {
    &__main-content {
      width: 80%;
    }
  }
  @media (min-width: $breakpoints-md) {
    &__main-content {
      width: 60%;
    }
  }
}
