@import "./Settings.scss";

.heading {
  display: flex;
  flex-direction: column;
}
@media (min-width: $breakpoints-sm) {
  .heading {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
