$breakpoints-xs: 0;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;
$breakpoints-xxl: 1400px;

$primary-color: #3ec600;
$primary-hover-color: #38b200;
$warning-color: #b40e0e;
$gray-color: rgb(218, 220, 224);
$shadow: 0 0 7px rgba(0, 0, 0, 0.13);
$shadow-loading: rgba(0, 0, 0, 0.3) 0px 19px 38px,
  rgba(0, 0, 0, 0.22) 0px 15px 12px;
