@import "./Settings.scss";

.sidebar {
  background-color: cadetblue;
  box-shadow: $shadow;
  &__list {
    list-style: none;
    padding-left: 0;
  }
  &__item {
    margin: 1rem;
  }
}
@media (min-width: $breakpoints-sm) {
  .sidebar {
    display: block;
  }
}
